@use 'sass:color';
@use 'variables.scss' as *;
@use 'utils.scss' as *;

/* Основные */

%standart-link-style {
    text-decoration: none;
    color: $link-color;
}

%standart-img-style {
    object-fit: cover;
    background-color: $background-elements-color-d;
    border: $light-border;
    border-radius: $standart-border-radius;
    box-shadow: $standart-box-shadow, $inner-white-shadow;
}

%standart-icon-style {
    max-width: rem(20);
    max-height: rem(20);
    border: none;
    box-shadow: none;
}

%standart-figure-animation {
    transition: $transition-default;

    &:hover {
        box-shadow: 0 rem(4) rem(10) color.adjust($link-color, $lightness: 30%),
            inset rem(-1) rem(-1) rem(3) rgb(255 255 255 / 80%);
        transform: scale(1.05);
    }
}

%standart-button-style {
    cursor: pointer;
    padding: rem(8) rem(16);
    border: none;
    border-radius: $standart-border-radius;
    font-family: $main-font;
    font-size: rem(18);
    color: $text-color;
    text-shadow: rem(1) rem(1) rem(3) rgb(0 0 0 / 20%);
    background: $gradient-btn;
    box-shadow: $standart-box-shadow, $inner-white-shadow;
    backdrop-filter: $blur;
    transition: $transition-fast;

    &:hover {
        background: $gradient-btn-hover;
        box-shadow: $hover-shadow-button;
    }

    &:active {
        background: $gradient-active;
        box-shadow: $active-shadow-button;
        transform: $standart-transform;
    }
}

%banner-button-style {
    cursor: pointer;
    font-size: rem(45);
    border: none;
    border-radius: $standart-border-radius;
    background: transparent;
    box-shadow: none;
    font-family: $main-font;
    color: $text-color;
    backdrop-filter: $blur;
    transition: $transition-fast;

    &:hover {
        background: rgb(0 0 0 / 15%);
        color: rgb(255 255 255 / 85%);
    }

    &:active {
        background: rgb(0 0 0 / 40%);
        box-shadow: inset rem(-3) rem(0) rem(4) rgb(0 0 0 / 40%),
            inset rem(3) rem(0) rem(4) rgb(0 0 0 / 40%);
    }
}

%styled-box {
    border: $light-border;
    border-radius: $standart-border-radius;
    backdrop-filter: $blur;
    box-shadow: $standart-box-shadow, $inner-white-shadow;
    transition: $transition-default;
}

/* Вспомогательные */

%blurred {
    backdrop-filter: $blur;
}

%hover-box-shadow {
    box-shadow: $box-shadow-hover;
}

%active-box-shadow {
    background: $gradient-active;
    box-shadow: $box-shadow-active;
    transform: $standart-transform;
}
